:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.api-key-container, .search-container {
  margin: 10px;
  width: 300px
}

input {
  width: 400px;
}

.header {
  box-shadow: 0 0 60px rgba(0, 0, 0, .12);
  display: flex;
  flex-direction: column;
  align-items: center;
}

