<div class="api-key-container">
  <debounced-input (value)="onTokenInput($event)"
                   [placeholder]="'what\'s your api key?'">
  </debounced-input>
</div>

<div class="search-container">
  <debounced-input (value)="onQueryChange($event)"
                   [placeholder]="'what are looking for?'">
  </debounced-input>
</div>


@for (result of searchResults(); track result.id) {
  <div>
    <img [src]="result.previewURL" (click)="resultClicked(result)">
    @if (result.annotations != null && result.annotations.length > 0) {
      <span>(annotated)</span>
    }
  </div>
}
